*{
	margin: 0;
}

body{
	background: #ccc;
	color: #FCFCFC;
	font-family: Arial;
	font-size: 16px;
	text-shadow:  1px 1px 0 rgba(214,254,248,0.5);
}

a{
	text-decoration: none;
}
header{
	border: 10px solid black;
	display: block;			
	margin: 0 auto;
	padding: 20px;		
	text-align: center;	
	width: 60%;
}

nav ul{
	background: rgba(0,0,0,.5);
	font-size: 0;
	padding: 0;
}

nav ul li{
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;	
	height: 50px;
	padding: 10px;
	text-align: center;
	vertical-align: top;
	width: 25%;
}
nav ul li:hover{
	background: rgba(0,0,0,0.3)
}
nav ul li a{
	color: white;
	text-transform: uppercase;

}

nav ul li img{
	height: auto;
	width: 80%;
}
#contenedor{
	background: gray;	
	margin: 0 auto;
	max-width: 700px;
}
#contacto{
	margin: 0 auto;
	text-align: center;
}

#contacto article, #webs article{
	background: #ccc;
	border: 1px solid white;
	color: black;
	display: inline-block;
	margin: 5px;
	padding: 10px;
	width: 180px;
}

#contacto article{
	box-sizing: border-box;		
	display: inline-block;	
	text-align: center;
	vertical-align: top;
	width: 48%;	
}

#contacto article img{
	width: 55%;

}

#contacto article img:hover{	
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	opacity: .7;
	filter: alpha(opacity=7);	
	transition: all 0.5s ease-out;	
	-webkit-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	width: 55%;
}

#webs{
	background: #666653;
	padding: 10px;
	text-align: center;
}
#webs article img{
	-webkit-transition: .2s;
	-moz-transition: .2s;
}
#webs article:hover img{
	-webkit-transform:scale(1.1);
}


.avatar{
	border: 5px solid white;
	display: inline-block;
	margin-left: 20px;
}

@media screen and (max-width:480px){
	nav ul li{
		box-sizing: border-box;
		border: 5px solid black;
		width: 50%;		
	}
	header{
		display: block;		
		text-align: center;
		width:80%;
	}
	#contacto article{
		display: inline-block;
		font-size: .8em;
		width: 46%;	
}
	.avatar, .personal{
		float: none;
	}
	.avatar{
		display: inline-block;
		margin: 10px 0;
	}	
}